In [76]:
import datetime
import pandas as pd
import re

In [125]:
data = pd.read_csv('repository/blog_post/2019/EG/by_id/20191211/s1_BlueDiscus.csv')

In [126]:
data['date']

0       2019120217300
1       2019113018415
2       2019112517470
3       2019112517280
4       2019111921291
            ...
2021    2015101201000
2022    2015101123346
2023    2015100810543
2024    2015100801403
2025    2015100800473
Name: date, Length: 2026, dtype: int64

In [123]:
data = pd.read_csv('repository/user_id/EG_ID_List.csv')

In [124]:
data

            user_nick     user_id collecting_date
0              ?붿뒪而ㅼ뒪  BlueDiscus
1            CINEKOON  CINEKOON91
2           KittyHawk        CV63
3          ?붿뒪??HRDSK
4               Lapis     Lapis00
..                ...         ...             ...
61             媛곸떆?섎젴  waterlotus
62    SKY與?whitedwarf
63  abu Saif al-Assad      zairai
64                zen     zen5852
65             議대떎由ъ븞   zondarian

[66 rows x 3 columns]

In [121]:
data['collecting_date'] = ' '

In [122]:
data.to_csv('repository/user_id/EG_ID_List.csv', index = False, encoding = 'utf-8')

In [104]:
data

,blog_code,user_id,post_num,key,board_url,title,content,category,nickname,date
0,NV,00cys,221730168001,NV_00cys_221730168001,https://blog.naver.com/PostView.nhn?blogId=00c...,식욕억제 빡세게 다이어트 한다!,"안녕하세요 여러분! 이제 날이 제법 추워졌죠?그 말은 즉, 다시 한번 두달간의 ...",유용한 정보 및 소식,꼬마곰,2019120801006
1,NV,00cys,221729619526,NV_00cys_221729619526,https://blog.naver.com/PostView.nhn?blogId=00c...,광주한복대여 고급스러움에 반하다,광주 충장로 혼수의 거리에 위치한광주한복대여 연리지에 다녀왔어요원래는 다른곳을 보러...,리뷰♡,꼬마곰,2019120708385
2,NV,00cys,221728550330,NV_00cys_221728550330,https://blog.naver.com/PostView.nhn?blogId=00c...,대전붙임머리 자연스러운 헤어,제가 사실은 뭐에 씌였는지머리를 단발로 변신을 했거든요딱 일주일만 좋고 바로 후회를...,리뷰♡,꼬마곰,2019120607214
3,NV,00cys,221727993043,NV_00cys_221727993043,https://blog.naver.com/PostView.nhn?blogId=00c...,서면미용실 여신펌 하고 왔어요,며칠전에 저 서면미용실에 다녀왔어요여자의 변신은 무죄라고 했어요날씨도 변하는데 저도...,리뷰♡,꼬마곰,2019120516593
4,NV,00cys,221726406862,NV_00cys_221726406862,https://blog.naver.com/PostView.nhn?blogId=00c...,탈모샴푸추천 1위제품 너무 좋아요,요즘 고데기 말 때 머리카락이 하나씩 뚝뚝 끊기더라고요.온도도 높게 조절해서 말...,리뷰♡,꼬마곰,2019120406432
...,...,...,...,...,...,...,...,...,...,...
939,NV,00cys,220631108185,NV_00cys_220631108185,https://blog.naver.com/PostView.nhn?blogId=00c...,양천구 신월동 네일샵-네일라떼♥ 네일라떼 이벤트!!,"네일라떼 이벤트﻿예약문의 010-4355-17831. 젤네일 30,000원﻿ 40,...",네일라떼 소식♡,NaN,2016021818163
940,NV,00cys,220620758653,NV_00cys_220620758653,https://blog.naver.com/PostView.nhn?blogId=00c...,양천구 신월동 네일샵-네일라떼♥ [공유] 신월4동 네일아트 네일라떼♥♥,신월4동 네일아트 네일라떼♥♥양천구 신월4동네일추천 네일 라떼♥♥ 신월4동 농협사거...,고객후기♡,NaN,2016020709556
941,NV,00cys,220247614371,NV_00cys_220247614371,https://blog.naver.com/PostView.nhn?blogId=00c...,"로즈바스붐, 코코아바스붐",장미향나는 로즈바스붐이랑 코코아바스붐을 만들어봤어용ㅎ장미는 향기로운 장미향 코코아는...,일상♡ / 이것저것♡,NaN,2015012116472
942,NV,00cys,220238443339,NV_00cys_220238443339,https://blog.naver.com/PostView.nhn?blogId=00c...,내가 만든 버블바ㅎ,입욕제 바스붐 만들어봤어용ㅎ욕조에 한덩이 넣고 따듯한 물받으면 거품이 보글보글 욕조...,일상♡ / 이것저것♡,NaN,2015011309251
943,NV,00cys,220139075259,NV_00cys_220139075259,https://blog.naver.com/PostView.nhn?blogId=00c...,러쉬 바스붐,동생에게 선물 받은 바스붐들 ㅎㅎ넘 예쁘고 귀여워용동생이 피부관련 일을해서 관심이 ...,일상♡ / 이것저것♡,NaN,2014100213223

In [102]:
data['date'][1]

201912078385

In [81]:
data.to_csv('repository/user_id/NV_ID_List.csv', index = False, encoding = 'utf-8')

In [12]:
def get_today_day():
    today = datetime.datetime.now()
    day = today.strftime('%Y%m%d%H%M%w')

    return day

In [13]:
get_today_day()

'2019121115023'

In [96]:
def regex_convert_date(upload_date):
    '''
        수집된 날짜를 'YYYYMMDD'형식에 맞춰 변환시켜주는 메소드
        :param  : upload_date(str)
        :return : rgx_date(str)
    '''

    global rgx_date
    upload_date = re.sub('\s+', '', upload_date)

    first_format_time = '\d+시간전'
    first_format_day  = '\d+일전'
    second_format     = '\w{3}\d{1,2}[.]\d{4}'

    if re.search(first_format_time, upload_date):
        # print('first_format_time is matched')
        rgx_date = datetime.datetime.now().strftime("%Y%m%d")

    elif re.search(first_format_day, upload_date):
        # print('first_format_day is matched')
        rgx_date = str(int(datetime.datetime.now().strftime("%Y%m%d")) - int(upload_date[:-2]))

    elif re.search(second_format, upload_date):
        # print('second_format is matched')
        months = {'Jan' : '01', 'Feb' : '02', 'Mar' : '03', 'Apr' : '04', 'May' : '05', 'Jun' : '06',
                  'Jul' : '07', 'Aug' : '08', 'Sep' : '09', 'Oct' : '10', 'Nov' : '11', 'Dec' : '12'}
        year = upload_date[6:]
        month = months[upload_date[:3]]
        day = upload_date[3:5]
        rgx_date = year + month + day

    else :
        dot_match = '\d{4}[.]\d{1,2}[.]\d{1,2}'
        slash_match = '\d{4}[/]\d{1,2}[/]\d{1,2}'
        dash_match = '\d{4}[-]\d{1,2}[-]\d{1,2}'

        rgx_dot_match = re.search(dot_match, upload_date)
        rgx_slash_match = re.search(slash_match, upload_date)
        rgx_dash_match = re.search(dash_match, upload_date)

        if rgx_dot_match :

            year = rgx_dot_match.group().split('.')[0]
            month = rgx_dot_match.group().split('.')[1]
            day = rgx_dot_match.group().split('.')[2]

            if len(rgx_dot_match.group().split('.')[1]) != 2 :
                month = '0' + str(rgx_dot_match.group().split('.')[1])

            if len(rgx_dot_match.group().split('.')[2]) != 2 :
                day = '0' + rgx_dot_match.group().split('.')[2]

            rgx_date = year + month + day

        if rgx_slash_match :

            year = rgx_slash_match.group().split('/')[0]
            month = rgx_slash_match.group().split('/')[1]
            day = rgx_slash_match.group().split('/')[2]

            if len(rgx_slash_match.group().split('/')[1]) != 2 :
                month = '0' + str(rgx_slash_match.group().split('/')[1])

            if len(rgx_slash_match.group().split('/')[2]) != 2 :
                day = '0' + rgx_slash_match.group().split('/')[2]

            rgx_date = year + month + day

        if rgx_dash_match :

            year = rgx_dash_match.group().split('-')[0]
            month = rgx_dash_match.group().split('-')[1]
            day = rgx_dash_match.group().split('-')[2]

            if len(rgx_dash_match.group().split('-')[1]) != 2 :
                month = '0' + str(rgx_dash_match.group().split('-')[1])

            if len(rgx_dash_match.group().split('-')[2]) != 2 :
                day = '0' + rgx_dash_match.group().split('-')[2]

            rgx_date = year + month + day

    return rgx_date

def datetime_fmt(date) :
    '''
    날짜정보를 YYYYMMDDHHmmW(13자리수)로 변환시켜주는 메소드
        YYYY : 년도
        MM   : 월
        DD   : 일
        HH   : 시
        mm   : 분
        W    : 요일(0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
    :param  : date(str)
    :return : date_fmt(str, YYYYMMDDHHmmW(13자리수))
    '''

    first_format_time = '\d+시간전'
    first_format_day = '\d+일전'

    if re.search(first_format_time, date) :

        now = datetime.datetime.now().strftime("%Y%m%d%H%M%w")

        minus_time = int(now[8:10]) - int(date[:-3])

        if minus_time < 0 :
            re_date = str(int(now[:8]) - 1)
            re_time = str(24 + minus_time)
            date_fmt = re_date + re_time + now[10:]

        else :
            date_fmt = now[:8] + str(minus_time) + now[10:]

    elif re.search(first_format_day, date) :
        now = datetime.datetime.now().strftime("%Y%m%d%H%M%w")

        minus_date = int(now[:8]) - int(date[:-2])

        date_fmt = str(minus_date) + now[8 :]

    else :
        re_date = regex_convert_date(date)

        date_fmt = re_date + re.sub('[^0-9]', '', date.split(' ')[-1])

        date_fmt = date_fmt + get_weekday(date_fmt)

    return date_fmt

def get_weekday(date):
    '''
    날짜를 입력받아 요일을 구해주는 메소드
    :param  : date(str)
    :return : weekday(str)
    '''
    year = int(date[:4])
    month = int(date[4:6])
    day = int(date[6:8])
    calcul_date = datetime.date(year, month, day)
    weekday = str(calcul_date.weekday())

    return weekday

In [ ]:
2019. 12. 8. 1:00
2019.12.06 21:27
2019. 12. 11. 13:10

In [98]:
date = '2019. 12. 1. 13:10'
# date = '19시간전'
# date = '3일전'
date1= datetime_fmt(date)

print(date1)

# print(date.split(' ')[-1])

2019120113106